.container {
  width: auto;
  align-content: center;
  padding:8vh;
}

.myheader {
  display: flex;
  justify-content: start;
  box-shadow: 0 5px gainsboro;
  padding: 20px 0 20px 0;
}
.menu li a {
  color: gray;
  font-weight: 500;
  font-size: large;
}

.logo {
  width: 100px;
  height: 100px;
}

.heading {
  font-size: 4rem;
  color: black;
  padding: 30px 0 0 50px;
  text-align: center;
}



.menu {

  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#doggyImg {
  background: url(../images/dog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  height: 26em;
  display: flex;
  align-items: flex-end;
  object-fit: cover;

}
text-heading-tablet{
  display: none;
}

.text-heading {
  background-color: white;
  color: gray;
  margin-left: 1px;
  margin-right: 1px;
  width: 100%;
  font-size: 1.3rem;
  padding: 0 0 20px 15px;

}

.top-news {
  margin-bottom: 20px;
  margin-top: 20px;
  color: darkgray;
  padding: 15px;
}

.Latest-news {
  margin-top: 20px;
  color: gray;
  padding-bottom: 20px;
  box-shadow: 0 2px #888888;
  
  
}

.top-news-heading1 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  box-shadow: 0 2px #888888;
  font-size: 1.6em;
  color:darkslategray;

}

.top-news-text {
  display: flex;
  justify-content: start;
  box-shadow: 0 2px #888888;
  padding: 15px;
}

table,
td,
th {
  padding: 20px;
}

.table {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.weather {
   padding: 20px;
}

.weather-tablet {
  display: none;
}

.Latest-news-logo {
  width: 8vw;
  margin-right: 20px;
  /* margin-bottom: 20px; */
}

.temp_view{
  padding-top: 20px
}

.latest-margin {
  margin: 20px 0 0 0;
  font-size: 1rem;
}

.foot {
  display: flex;
  /* border-top: 5px solid gray; */
  list-style-type: none;
  /* box-shadow: 0 5px #888888; */
  box-shadow: 0 5px gainsboro;
  font-family: sans-serif;
  
}

@media screen and (max-width: 900px) and (min-width:600px) {

  #doggy-weather {
    display: flex;
    height: 20em;
    overflow: hidden;
    padding: 5px;
  }

  #doggyImg {
    background: url(../images/dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 3px 0%;
    display: flex;
    align-items: flex-end;
    width: 60%;
}

  .text-heading-tablet {
    background-color: white;
    color: black;
    opacity: .8;
    margin-left: 1px;
    margin-right: 1px;
    height: 10vh;

  }


  .weather {
    display: none;
  }

  .weather-tablet {
    width: 40%;
    background-size: auto;
    padding-left: 20px;
    display: block;
  }



  table {
    padding: 10px;
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
  }

  .table {
    margin-bottom: 20px;
  }

  tr:nth-child(odd) {
    background-color: darkslategrey;
  }

  td {
    border: 1px #dddddd;
    text-align: left;
    padding: 8px;
  }

  .text-heading {
    background-color: white;
    color: black;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 0.8rem;
    height: 21vh;
  }

  .Latest-news-logo {
    width: 11vw;
  }
}

@media screen and (max-width: 600px) and (min-width:300px) {
  table {
    padding: 10px;
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
  }

  .table {
    margin-bottom: 20px;
  }

  tr:nth-child(odd) {
    background-color: darkslategrey;
  }

  td {
    border: 1px #dddddd;
    text-align: left;
    padding: 8px;
  }

  .text-heading {
    background-color: white;
    color: black;
    font-size: 0.8rem;
    overflow: hidden;
  }

}
